html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #fca5a5;
  height: 68px;
  width: auto;
}
nav {
  padding: 5px;
}
nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: #9d174d;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 600;
  margin: 15px 5px;
  padding: 14px 16px;
}
nav a:hover {
  border-bottom: 2px solid #1b1b1b;
  background: #fff;
  color: #1b1b1b;
  height: 0.18px;
  transition: border-bottom 0.3s;
  font-size: 100%;
}
.heading {
  text-decoration: wavy underline;
  font-style: Roboto Slab;
  color: #b45309;
  text-align: center;
}
.intro {
  width: 50%;
  font-size: 20px;
  margin: 30px;
  padding: 15px;
  color: #3730a3;
  background: #bfdbfe;
  border: 3px solid;
  border-color: #3730a3;
  border-radius: 15px;
}
.name {
  text-decoration: underline;
  color: #3730a3;
}
.peach:hover,
.sections:hover,
.section2:hover {
  background: coral;
  transition-property: background, border-radius;
  border-radius: 35%;
  transition-duration: 2s;
}
.peach {
  background-color: #fef2f2;
  padding: 1rem;
  text-align: center;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
}
.sections {
  padding: 1rem;
  background-color: #ecfdf5;
  text-align: center;
  font-size: 1.2rem;
}
section {
  display: block;
  background-color: #a7f3d0;
  text-align: center;
  margin: 20px 0;
}
div {
  display: block;
}
.sections h1 {
  text-align: center;
}
p {
  display: block;
}
.section2 {
  padding: 1rem;
  background-color: #fef2f2;
  font-size: 1.2rem;
}
.footer {
  background-color: #fca5a5;
  text-align: center;
  color: #9d174d;
  border-top-right-radius: 1px;
  padding: 2rem 1rem;
}
footer {
  display: block;
}
footer h1 { 
  font-size: 40px;
  }
ol {
  float: none;
  list-style-type: none;
}
ol li {
  display: inline-block;
}
ol li a {
  text-decoration: none;
  margin: 10px;
  color: #9d174d;
}
.certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.fa-linkedin {
  background: #fff;
  color: blue;
}
.fa-hackerrank{
  background: #fff;
  color: black;
}
.fa-github-square{
  background: white;
  color: black;
}
.fa-codepen{
  background:black;
  color: #fff;
}













